<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<a href="/user-login"> User Login </a><br><br>-->
<!--<a href="/registration"> User Registration </a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <style>
.center {
  margin: auto;
  width: 60%;
}
img{
    width: 100px;
}
.formBx{
    margin-top: 30px;
}
</style>
</head>
<body>
<div class="center">
    <img src="https://icon-library.com/images/home-logo-icon/home-logo-icon-10.jpg" alt="" />
    <h1>Online Shopping</h1>
    <a href="/user-login"> User Login </a><br><br>
    <a href="/registration"> User Registration </a>
</div>
</body>
</html>