<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<a href="/user-login"> User Login </a><br><br>-->
<!--<a href="/registration"> User Registration </a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <style>
.center {
  margin: auto;
  width: 60%;
}
</style>
</head>
<body>
<div class="center">
    <h1>Online Shopping</h1>
    <a href="/user-login"> User Login </a><br><br>
    <a href="/registration"> User Registration </a>
</div>
</body>
</html>